.Header-container{
    background-color: #033160;
    margin-top: -16px;
    height: 180px;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #fff;
}

.Header-mid{
    padding: 10px;
    display: flex;
    margin-top: 56px;
}

.Header-left{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header-right{
    padding: 10px;
    display: flex;
    align-items: center;
}

.Header-sub{
    background-color: #006E30;
    height: 30px;
    margin-bottom: -12px;
}

.Header-title{
    color: #fff;
    margin-top: 0;
    text-align: left;
    padding-left: 14px;
}

.Header-img{
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 14px;
}

.Header-btn-sair{
    padding: 4px 20px;
    border: 2px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.Header-nome{
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 0;
}

.Header-information{
    color: #fff;
    font-size: 14px;
    margin: 0;
}

.Header-btn-perfil{
    padding: 4px 20px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 12px;
}

