.History-p{
    color: #636363;
    padding: 0 46px;
    letter-spacing: 1px;
}

.History-container{
    background-color: #faf6f6;
    border: 1px solid #aaa;
    border-radius: 6px;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 10px;
    padding-bottom: 20px;
}

.History-lista{
    text-align: start;
}

li{
    margin-bottom: 10px;
    margin-left: 30px;
}