.Loja-container{
    background-color: #faf6f6;
    border: 1px solid #aaa;
    border-radius: 6px;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 10px;
}

.Loja-mid-div{
    display: flex;
    justify-content: space-between;
}

.Loja-cash{
    background-color: #faf6f6;
    border: 1px solid #aaa;
    width: 10%;
}

.Loja-itens{
    background-color: #faf6f6;
    border: 1px solid #aaa;
    width: 82%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}